[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
#url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
flask = "*"
unittest = "*"
mock = "*"
selenium = "*"
html-testrunner = "*"
jsonpath-rw = "*"
json-tools = "*"
mitmproxy = "*"
openpyxl = "*"
deepdiff = "*"
ddt = "*"
sqlalchemy = "*"
mysql-connector = "*"
appium-python-client = "*"
mitmewb = "*"
appium = "*"
configparser = "*"
uiautomator2 = "*"
pillow = "*"
weditor = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
