[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
flask = "*"
unittest = "*"
mock = "*"
selenium = "*"
html-testrunner = "*"
jsonpath-rw = "*"
json-tools = "*"
mitmproxy = "*"
openpyxl = "*"
deepdiff = "*"
ddt = "*"
sqlalchemy = "*"
pymysql = "*"

[requires]
python_version = "3.7"
